@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

.about-me {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.about {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
  text-align: center;
  height: 100vh;
  padding: 0 1.5rem;
}

.box {
  background-color: #a6bc09;
  border-radius: 1rem;
  padding: 1rem 2rem;
  text-align: center;
}

.info {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
}

.skills {
  flex: 1;
  text-align: center;
  height: 100vh;
}

.skills-logo {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}

.skills-logo div {
  text-align: center;
}

@media screen and (max-width: 930px) {
  .about-me {
    flex-direction: column;
  }

  .skills {
    height: auto;
  }

  .skills h3 {
    font-size: 1.6rem;
  }

  .about {
    height: auto;
  }

  .box {
    height: auto;
    margin: 0 2.5rem;
  }
}

@media screen and (max-width: 550px) {
  .box h2 {
    font-size: 1.5rem;
  }

  .info {
    font-size: 1rem;
  }
}
