@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

.home {
  height: 100vh;
  display: table;
}

.home-img {
  width: 50%;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.home-img img {
  width: 20rem;
  height: 20rem;
  border-radius: 25vh;
}

.home-info {
  width: 50%;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.home-info h1 {
  font-family: "Poppins", sans-serif;
}

.home-info button {
  border: none;
  background-color: #026773;
}
