@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

:root {
  --blue-darker: #01415b;
  --blue-dark: #015958;
  --blue-title: #008f8c;
  --blue-button: #0fc2c0;
}

.home {
  height: 100vh;
  width: 100%;
  display: table;
}

.home-img {
  width: 50%;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.home-img img {
  width: 20rem;
  height: 20rem;
  border-radius: 25vh;
}

.home-info {
  width: 50%;
  display: table-cell;
  vertical-align: middle;
  text-align: justify;
  padding-right: 2rem;
}

.home-info h1 {
  font-family: "Poppins", sans-serif;
}

.home-info mark {
  background-color: transparent;
  color: var(--blue-title);
}

.home-info a {
  text-decoration: none;
  padding: 0 0.5rem 0 0.5rem;
  border-radius: 0.2rem;
  border: none;
  background-color: var(--blue-title);
  width: 10rem;
  height: 2.5rem;
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 1.3rem;
  font-weight: 600;
}

@media screen and (max-width: 1120px) {
  .home {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .home-img img {
    width: 18rem;
    height: 18rem;
    border-radius: 15vh;
  }
}

@media screen and (max-width: 730px) {
  .home-img img {
    width: 18rem;
    height: 18rem;
    border-radius: 15vh;
  }
}

@media screen and (max-width: 650px) {
  .home-img img {
    width: 15rem;
    height: 15rem;
    border-radius: 15vh;
  }

  .home-info h1 {
    font-size: 1.8rem;
  }
}

@media screen and (max-width: 520px) {
  .home-info h1 {
    padding-left: 1rem;
    font-size: 1.5rem;
  }

  .home-img img {
    width: 12rem;
    height: 12rem;
    border-radius: 15vh;
  }
}
