.proyects {
  height: fit-content;
  width: 100%;
  padding-top: 40vh;
}

.apps {
  display: flex;
  margin: 0 auto;
}

.pokeapp {
  padding-top: 5rem;
  padding-bottom: 8rem;
}

.proyects h2 {
  font-family: "Poppins", sans-serif;
  text-align: center;
  padding-bottom: 1rem;
}

.clavtv,
.pokeapp {
  width: 30rem;
  height: 30rem;
  margin: auto;
}

.clavtv a,
.pokeapp a {
  text-decoration: none;
  color: black;
}

.clavtv img,
.pokeapp img {
  width: 30rem;
  height: 20rem;
}

.clavtv h3,
h4 {
  font-family: "Poppins", sans-serif;
}

.pokeapp h3,
h4 {
  font-family: "Poppins", sans-serif;
}

.clavtv h3,
.pokeapp h3 {
  text-align: center;
}

.clavtv h4,
.pokeapp h4 {
  text-align: justify;
}
@media screen and (max-width: 1170px) {
  .apps {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 550px) {
  .proyects {
    padding-top: 50%;
  }

  .clavtv,
  .pokeapp {
    width: 20rem;
    height: 30rem;
  }

  .clavtv img,
  .pokeapp img {
    width: 20rem;
    height: 15rem;
  }
}
