.skills {
  width: 50%;
  display: table-cell;
  vertical-align: middle;
  font-family: "Poppins", sans-serif;
  padding: 0 2rem 0 2rem;
}

.skills h2 {
  text-align: center;
  padding-bottom: 1rem;
}

.skills-logo {
  text-align: center;
}

.skills-logo div {
  display: inline-block;
  width: 10rem;
  height: 10rem;
}

.skills-logo i {
  color: var(--blue-darker);
  width: 6rem;
}

@media screen and (max-width: 550px) {
  .skills-logo div {
    display: inline-block;
    width: 8rem;
    height: 8rem;
  }

  .skills-logo i {
    color: var(--blue-darker);
    width: 5rem;
  }
}
